@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}

a.tel_number {
  color: #000;
  font-size: 14px;
  font-family: "ProximaNovaBold";
}

.info_and_number span {
  font-size: 12px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo a {
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "ProximaNovaBold";
}

.first_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  Justify-content: space-between;
  width: 100%;
  background: #ffffff;
  padding: 20px 30px;
  text-transform: uppercase;
  margin-bottom: 43px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.wrapper_header {
  font-family: "ProximaNovaRegular";
  font-weight: 400;
}

.first_nav nav a,
.info_and_number span,
.login_form a {
  color: #ababab;
}

.first_nav nav a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

.login_form a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

.second_navbar {
  margin: 50px 50px 30px 50px;
}

.second_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}

.second_nav a {
  font-size: 13px;
  color: #000;
  font-family: "ProximaNovaBold";
}

.slider img {
  margin: 0 auto;
}

.slick-next {
  right: 300px;
}

.slick-prev {
  left: 300px;
  z-index: 1;
}